<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Employee Form</div>
    </div>
    <div class="card-body">
      <!-- <div class="form-group" [ngClass]="{'has-error':((employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) && employeeForm.get('fullName').errors)}"> -->
        <div class="form-group" [ngClass]="{'has-error':formErrors.fullName}">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="fullName">FullName:</label>
          </div>
          <div class="col-md-8">
            <input type="text" name="fullName" class="form-control" formControlName="fullName" (blur)="logKeyValuePairs()">
            <span class="help-block" *ngIf="formErrors.fullName">
              {{formErrors.fullName}}
              </span>
          </div>
        </div>
      </div>
      <div formGroupName="emailGroup">
      <div class="form-group" [ngClass]="{'has-error':formErrors.email}">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="email">Email:</label>
          </div>
          <div class="col-md-8">
            <input type="email" name="email" class="form-control" formControlName="email"  (blur)="logKeyValuePairs()">
            <span class="help-block" *ngIf="formErrors.email">
              {{formErrors.email}}
              </span>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':formErrors.confirmEmail || formErrors.emailGroup}">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="confirmEmail">Confirm Email:</label>
          </div>
          <div class="col-md-8">
            <input type="email" name="confirmEmail" class="form-control" formControlName="confirmEmail"  (blur)="logKeyValuePairs()">
            <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
              {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-body bg-light">
      <div class="form-group">
       <button class="btn btn-primary" (click)="addSkillButtonClick()">Add Skill</button>
      </div>
    <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls;let i = index">
      <div [formGroupName]="i">
        <div class="form-group" >
          <div class="row">
            <div class="col-md-2">
              <label class="control-label" [attr.for]="'skill'+i">Skill:</label>
            </div>
            <div class="col-md-4" [ngClass]="{'has-error':formErrors.skill}">
              <input type="text" [id]="'skill'+i" class="form-control" placeholder="skill" formControlName="skill" (blur)="logKeyValuePairs()">
              <span class="help-block" *ngIf="formErrors.skill">
                {{formErrors.skill}}
                </span>
            </div>
            <div class="col-md-4" [ngClass]="{'has-error':formErrors.experience}">
              <input type="text" name="experience" class="form-control" placeholder="experience" formControlName="experience" (blur)="logKeyValuePairs()">
              <span class="help-block" *ngIf="formErrors.experience">
                {{formErrors.experience}}
                </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">Proficiency:</label>
            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Begineer" name="proficiency" formControlName="proficiency">Beginner
              </label>

            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Intermediate" name="proficiency" formControlName="proficiency">Intermediate
              </label>
            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Expert" name="proficiency" formControlName="proficiency">Expert
              </label>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary float-left" type="submit">Submit</button>
      <button class="btn btn-primary float-right" (click)="loadData()">Load Data</button>
    </div>
  </div>
</form>
<br>
{{employeeForm.value | json}}
<!-- <br>
<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Form Group</th>
    <th>Form Control(Full Name)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      <tr><td>Dirty: {{employeeForm.dirty}}</td>
        <td>Pristine: {{employeeForm.pristine}}</td>
        <td>Touched: {{employeeForm.touched}}</td>
        <td>Valid: {{employeeForm.valid}}</td>
        <td>{{employeeForm.value | json}}</td></tr>
    </td>
    <td>
        <tr>  <td>Dirty: {{employeeForm.get("fullName").dirty}}</td>
          <td>Pristine: {{employeeForm.get("fullName").pristine}}</td>
          <td>Touched: {{employeeForm.get("fullName").touched}}</td>
          <td>Valid: {{employeeForm.get("fullName").valid}}</td>
          <td>{{employeeForm.get("fullName").value | json}}</td></tr>
      </td>
  </tr>
</tbody>
</table> -->