<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Employee Form</div>
    </div>
    <div class="card-body">
      <div class="form-group" [ngClass]="{'has-error':((employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) && employeeForm.get('fullName').errors)}">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="fullName">FullName:</label>
          </div>
          <div class="col-md-8">
            <input type="text" name="fullName" class="form-control" formControlName="fullName">
            <span class="help-block" *ngIf="(employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) && employeeForm.get('fullName').errors">
            <span *ngIf="employeeForm.get('fullName').errors.required">
              FullName is required
            </span>
            <span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength">
              Min lenght is 2 and Max lenght is 10
            </span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="email">Email:</label>
          </div>
          <div class="col-md-8">
            <input type="email" name="email" class="form-control" formControlName="email">
          </div>
        </div>
      </div>
      <div formGroupName="skills">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label" for="skill">Skill:</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="skill" class="form-control" placeholder="skill" formControlName="skill">
            </div>
            <div class="col-md-4">
              <input type="text" name="experience" class="form-control" placeholder="experience" formControlName="experience">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">Proficiency:</label>
            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Begineer" name="proficiency" formControlName="proficiency">Beginner
              </label>

            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Intermediate" name="proficiency" formControlName="proficiency">Intermediate
              </label>
            </div>
            <div class="col-md-2">
              <label class="radio-inline">
                <input type="radio" value="Expert" name="proficiency" formControlName="proficiency">Expert
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary float-left" type="submit">Submit</button>
      <button class="btn btn-primary float-right" (click)="loadData()">Load Data</button>
    </div>
  </div>
</form>
<br>
{{employeeForm.value | json}}
<!-- <br>
<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Form Group</th>
    <th>Form Control(Full Name)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      <tr><td>Dirty: {{employeeForm.dirty}}</td>
        <td>Pristine: {{employeeForm.pristine}}</td>
        <td>Touched: {{employeeForm.touched}}</td>
        <td>Valid: {{employeeForm.valid}}</td>
        <td>{{employeeForm.value | json}}</td></tr>
    </td>
    <td>
        <tr>  <td>Dirty: {{employeeForm.get("fullName").dirty}}</td>
          <td>Pristine: {{employeeForm.get("fullName").pristine}}</td>
          <td>Touched: {{employeeForm.get("fullName").touched}}</td>
          <td>Valid: {{employeeForm.get("fullName").valid}}</td>
          <td>{{employeeForm.get("fullName").value | json}}</td></tr>
      </td>
  </tr>
</tbody>
</table> -->